<aside class="sidebar" style="width: 250px; background-color: var(--dark-blue-text); z-index: 1001;">
    <div class="sidebar-logo-container" style="margin-bottom: 20px;">
         <%- logoSvgContent %> <%# Ini baris yang diubah %>
        <h1 class="brand-title" style="font-size: 1.5em;">Admin Panel</h1>
        <p class="brand-subtitle" style="font-size: 0.8em;">WANZOFC-TECH</p>
    </div>


</aside>