    <footer>
        <p>© <span id="currentYear"></span> WANZOFC-TECH. All Rights Reserved. Didesain dengan <i class="fas fa-heart" style="color: #e74c3c;"></i> oleh WANZOFC-TECH.</p>
    </footer>
</div>

<%- include('cookie_consent') %>

<% if (NODE_ENV !== 'production') { %>
    <script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="<%= midtransClientKey %>"></script>
<% } else { %>
    <script src="https://app.midtrans.com/snap/snap.js" data-client-key="<%= midtransClientKey %>"></script>
<% } %>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/js/main_frontend.js"></script>
</body>
</html>